<header class="header">
    <div class="logo">
        <a href="/" class="logo-text">FOMBER</a>
    </div>
    <div class="header-menu">
        <a href="/signup" class="header-menu__item">Sign Up</a>
        <a href="/login" class="header-menu__item">Login</a>
    </div>
</header>