<header class="header">
    <div class="logo">
        <a href="/" class="logo-text">FOMBER</a>
    </div>
    <div class="header-menu">
        <% if (user) { %>
            <div class="header-menu__item">Welcome, <%= user.username %> </div>
            <a href="/logout" class="header-menu__item logout">Logout</a>
        <% } else { %>
            <a href="/signup" class="header-menu__item">Sign Up</a>
            <a href="/login" class="header-menu__item">Login</a>         
        <% } %>
        
    </div>
</header>