<% if (user) { %>
<div class="mobile-menu"><i class='menu-icon bx bx-menu'></i></div>
<section class="sidebar">
    
        <h3>Chat management</h3>
        <div class="sidebar-menu">
            <div class="sidebar-menu__item userchats"><a href="/chat/userchats">Chats</a></div>
            <div class="sidebar-menu__item create-chat"><a href="/chat/createchat">Create Chat</a></div>
        </div>
</section>
<% } %>